body{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(214, 13, 13);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(247, 170, 170);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background: #877bcc;
    color: black;
}

h1{
    margin-top: 50px;
}